main {
    background-image: url('../media/Test.jpg');
}

.form__input {
    display: block;
}

nav {
    display: none;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}